.discount-tag {
    background-color: #5d8355;
    color: #fff;
    padding: 2px 8px;
    font-size: 0.85rem;
    border-radius: 5px;
  }

  .colour-box {
    transition: transform 0.2s;
  }

  .colour-box:hover {
    transform: scale(1.1);
  }

  .size-btn.active {
    background: black !important;
    color: white !important;
  }