<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Change Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
  <link href="/css/change-password.css" rel="stylesheet">

</head>
<body>

  <div class="container">
    <div class="left">
      <h2>Change Password</h2>
      <form action="/changepassword" method="post">

        <label for="password">Please confirm your password</label>
        <input type="password" placeholder="New password" id="password" name="password"  />
        <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" />
        
        <% if (typeof message !== 'undefined' && message) { %>
            <div style="color: red; margin-bottom: 10px; font-weight: bold;">
              <%= message %>
            </div>
          <% } %>
          
        <button type="submit">Change Password</button>
      </form>
     
      <a href="/login">Go back to Login page</a>
    </div>
    <div class="right">
      <img src="../img/pswd.jpg" alt="Change Password Image" />
    </div>
  </div>

</body>
</html>
