
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link href="/css/login.css" rel="stylesheet">

</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <div class="left">
        <h2>Login your account</h2>

        <a href="/auth/google" class="google-btn">
          <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google icon" />
          &nbsp;&nbsp;Login with Google
        </a>

        <div class="divider">
          <span>or</span>
        </div>

        <form action="/login" method="post">
          <input  placeholder="Email" name="email" id="email"  />
          <input type="password" placeholder="Password" name="password" id="password"  />
          
          <div class="forgot-link">
            <a href="/forgotPassword">Forgot Password?</a>
          </div>

          <% if (typeof message !== 'undefined' && message) { %>
            <div style="color: red; margin-bottom: 10px; font-weight: bold;">
              <%= message %>
            </div>
          <% } %>

          <button class="login-btn" type="submit">Login</button>
        </form>

        <div class="bottom-text">
          <span>Don't have an Account?</span>
          <a href="/signup" class="signup-link">Sign up</a>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get("blocked") === "true") {
    Swal.fire({
      icon: "error",
      title: "Account Blocked",
      text: "Your account has been blocked by admin. Please contact support.",
      confirmButtonText: "OK"
    }).then(() => {
      window.history.replaceState({}, document.title, window.location.pathname);
    });
  }
</script>


</html>
